.message-input-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  input {
    flex-grow: 1;
    margin-right: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
  }
}

.message-form {
  display: flex;
  align-items: center; /* This ensures vertical alignment */
  gap: 8px; /* Adjust the gap as needed */

  .full-width {
    flex-grow: 1; /* This makes the input field grow to fill the space */
  }

  button {
    flex-shrink: 0; /* This prevents the button from shrinking */
  }
}
