html, body {
  height: 100%;
  --mdc-list-list-item-label-text-color: rgba(0, 0, 0, 0.87);

}
body { margin: 0; font-family: Roboto, sans-serif; }


/* styles.css */
.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Full viewport height */
}

.top-bar {
  width: 100%; /* Full width */
  z-index: 10; /* Higher than the other elements, if it needs to be above in stacking context */
  /* No fixed position needed unless you want the bar to remain at top when scrolling */
}

/* Container for sidebar and chat area */
.content-container {
  display: flex;
  flex-grow: 1; /* Take up the remaining space */
  height: calc(100vh - height_of_top_bar); /* Adjust the height based on the actual height of your top bar */
}

.sidebar {
  /* Your existing styles */
  width: 20%; /* Example width */
  overflow-y: auto; /* For scrolling */
}

.chat-container {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column; /* Keep chat area and message input stacked */
}

/* Your other styles */



.chat-area {
  flex-grow: 1;
  overflow: auto;
}

.message-input {
  margin: 10px;
}




